.hero-unit {
	box-shadow: -3px -3px 3px #aaa inset, 3px 3px 2px 1px #999;
	background-image: url(img/batthern.png) !important;
}

p, ul, ol, blockquote {
	font-size: 10.5pt !important;
	line-height: 1.5 !important;
}


footer {
	color: #666;
}

h5 {
	margin-top: 2em;
	font-size: 12pt;
}

#bitgram_statcounter {
	text-align: right;
}

.figure-desc {
	font-size: 75%;
	line-height: 1.2em;
}

.brand {
	font-weight: 600 !important;
	margin: 0 1em !important;
}

aside h2 {
	line-height: 20px;
	font-size: 18px;
}

.well {
	padding: 0.5em 1em;
}

article header h1 {
	font-size: 20pt;
}

.hero-unit h1 {
	font-size: 28pt;
}

.bitgram_top {
	text-align: center;
	padding: 0.75em;
	border: 1px dashed #eee;
}

.bitgram_sign {
	font-family: Courier New, Courier, monospace;
	font-size: 36pt;
	font-weight: 800;
	margin-top: 0.1em;
	line-height: 1;
}

.bitgram_hex {
	margin: -0.2em 0 0.5em 0;
	font-family: Courier New, Courier, monospace;
	font-weight: 600;
	font-size: 15pt;
	letter-spacing: 0.15em;
	color: #666;
}

